version: '3.1'

services:
  mongo:
    image: mongo:6.0.4
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: evraz
    ports:
      - 27017:27017
    volumes:
      - './app/data/mongo_data:/data/db'
      - './extra/mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js:ro'
    networks:
      - backend
    healthcheck:
      test: echo 'db.stats().ok' | mongo localhost:27017/test --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  grafana:
    image: grafana/grafana:7.5.7
    networks:
      - backend
    environment:
      - "GF_SECURITY_ADMIN_USER=root"
      - "GF_SECURITY_ADMIN_PASSWORD=root"
    depends_on:
      - mongo
    ports:
      - 3000:3000
    restart: unless-stopped
    volumes:
      - ./app/data/grafana/datasources:/etc/grafana/provisioning/datasources
      - ./app/data/grafana/grafana-data:/var/lib/grafana

  backend_web:
    restart: always
    environment:
      &backend_enviroments
      MISIS_KAFKA_HOST: "rc1a-b5e65f36lm3an1d5.mdb.yandexcloud.net:9091"
      MISIS_KAFKA_TOPIC: "zsmk-9433-dev-01"
      MISIS_KAFKA_USER: "9433_reader"
      MISIS_KAFKA_PASSWORD: "eUIpgWu0PWTJaTrjhjQD3.hoyhntiK"
      MISIS_KAFKA_READ_FROM_START: "false"
      MISIS_MONGO_DATABASE: "evraz"
      MISIS_MONGO_HOST: "mongo"
      MISIS_MONGO_PORT: 27017
      MISIS_MONGO_USERNAME: "root"
      MISIS_MONGO_PASSWORD: "root"
      MISIS_UVICORN_HOST: "0.0.0.0"
      MISIS_UVICORN_PORT: 8000
    build:
      context: .
      dockerfile: DockerfileWeb
    networks:
      - backend
    depends_on:
      - mongo
      - backend_kafka_processor
    ports:
      - 8000:8000

  backend_kafka_processor:
    restart: always
    environment:
      <<: *backend_enviroments
    build:
      context: .
      dockerfile: DockerfileKafka
    networks:
      - backend
    depends_on:
      - mongo

networks:
  backend:
    name: backend
